/* Name: Ankit Kumayan 
Student number: C0921273 */

body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: right;
}

header img {
    float: left;
    margin: 0; 
    height: 40px;
    width: 40px;
}

nav {
    padding: 10px;
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 20px;
    font-size: large;
    padding: 10px 15px;
}

nav a:hover {
    background-color:white;
    color: #e44d26;
}

main {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 30px;
    font-size: 20px;
    border: 1px solid #bfb6e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main h1 {
    font-size: 28px;
    color: #333; /* Change heading color */
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    text-align: center;
}

/* .choose-us {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choose-us-item {
    text-align: center;
    padding: 20px;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.choose-us-item:hover {
    transform: scale(1.1);
} */

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
