/* Name: Ankit Kumayan 
Student number: C0921273 */

body {
    background-color: #f8f8f8;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: right;
}

header img {
    float: left;
    margin: 0; 
    height: 40px;
    width: 40px;
}

nav {
    padding: 10px;
}

nav a {
    color:white;
    text-decoration: none;
    margin: 0 20px;
    font-size: large;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#trainingTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #333; 
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid #333; 
    background-color: #333; 
    color: white; 
    padding: 8px; 
    text-align: center;
}


th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e5e5e5;
}

td:first-child {
    display: flex;
    align-items: center;
}

td:first-child img {
    margin-right: 10px;
    max-width: 50px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* Navigation Link Styles */
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color:white;
    color: #e44d26;
}
